body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a{
    color: #fff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.head{
    text-align: center;
}
main{
    
align-items: center;
padding: 20px;
line-height: 2.0;
margin: 5px;
}
section{
    padding: 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0 , 0.1);
}
h1{
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
}
img{
    width: 250px;
    height: 330px;
    border-radius: 30%;
    margin: 10px auto;
    display: block;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type:none;
}
li{
    margin-bottom: 10px;
}
ol{
    list-style-type: disc;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
clear: both;
}